* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  direction: ltr;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
.main_wrapper {
  padding: 0 8px;
  margin: 0 auto;
  max-width: 1200px;
}
.content {
  width: 320px;
  padding: 16px;
  margin: 100px auto;
  box-shadow: 0px 0px 12px 10px #eaeaea;
}
.text {
  margin-top: 0;
  font-size: 1em;
  color: #1535c5;
  font-weight: bold;
  margin-bottom: 16px;
}
.form {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gender {
  gap: 12px;
  margin: 0;
  width: 100%;
  display: flex;
  color: #747474;
  font-size: 0.8em;
  padding: 3px 10px;
  align-items: center;
  border-radius: 7px;
  justify-content: center;
  border: 1px solid #1535c5;
}
.gender input {
  width: 11px;
  height: 11px;
}
.input {
  width: 100%;
  outline: none;
  text-align: left;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid #1535c5;
}
input:valid {
  border: 1px solid #15c53b;
}
input:invalid {
  border: 1px solid #c51515;
}
.send {
  width: 50%;
  color: #fff;
  padding: 5px 0;
  font-size: 1em;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.3s ease-in;
  font-family: "iran_sans";
  border: 1px solid #1535c5;
  background-color: #1535c5;
}
.send:hover {
  color: #747474;
  background-color: #fff;
  border: 1px solid #1535c5;
}
.age {
  text-align: center;
}